.Projects-page{
  overflow-x: hidden;
  height: 100%;
  display: flex;
}
.Projects-content{
  width: calc(100vw - 3.1rem);
  position: absolute;
  left: 3.1rem;
  min-height: 100vw;
  border : 1px solid blue;
  
}